# permissions for end users to view models.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: model-viewer-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: ollama-operator
    app.kubernetes.io/part-of: ollama-operator
    app.kubernetes.io/managed-by: kustomize
  name: model-viewer-role
rules:
- apiGroups:
  - ollama.ayaka.io
  resources:
  - models
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ollama.ayaka.io
  resources:
  - models/status
  verbs:
  - get
