name: CI

on:
  push:
    paths-ignore:
      - 'docs/pages/**'
    branches:
      - main
  pull_request:
    paths-ignore:
      - 'docs/pages/**'
    branches:
      - main

env:
  STORE_PATH: ''

jobs:
  build_test:
    name: Build Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: "^1.25"
          cache: true

      - name: Test Build
        run: go build -v ./...

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: "^1.25"
          cache: true

      - uses: actions/checkout@v5

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9.1.0
        with:
          args: --timeout=10m

  unittest:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "^1.25"
          cache: true

      - name: Unit tests
        run: |
          go test ./... -coverprofile=coverage.out -covermode=atomic
          go tool cover -func coverage.out
