name: Build PR Previewing Docs

on:
  pull_request:
    branches:
      - main
    paths:
      - 'docs/**'

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]

    name: Build - ${{ matrix.os }}

    runs-on: ${{ matrix.os }}
    steps:
      # This is quite weird.
      # Even though this is the *intended* solution introduces in official blog post here
      # https://securitylab.github.com/research/github-actions-preventing-pwn-requests/.
      # But still, as https://github.com/orgs/community/discussions/25220#discussioncomment-7856118 stated,
      # this is vulnerable since there is no source of truth about which PR in the triggered workflow.
      - name: Persist PR number
        run: |
          echo "${{ github.event.number }}" > pr_num

      - name: Persist branch name
        run: |
          echo "${{ github.head_ref }}" > branch_name

      - name: Upload PR artifact
        uses: actions/upload-artifact@v4
        with:
          name: pr-num
          path: ./pr_num
          overwrite: true

      - name: Upload PR artifact
        uses: actions/upload-artifact@v4
        with:
          name: branch-name
          path: ./branch_name
          overwrite: true
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
          package_json_file: docs/package.json
      - uses: actions/setup-node@v5
        with:
          cache: pnpm
          node-version: latest
          registry-url: https://registry.npmjs.org
          cache-dependency-path: 'docs/pnpm-lock.yaml'
      - working-directory: docs
        run: pnpm install --frozen-lockfile

      - working-directory: docs
        run: pnpm docs:build
        env:
          # As suggested in Verbose Build option to be able to track down errors https://github.com/vuejs/vitepress/issues/422
          # vitepress build command does not have --debug option, so we need to set it manually where the debug package is used.
          # DEBUG: 'vitepress:*'
          VUE_PROD_HYDRATION_MISMATCH_DETAILS_FLAG: '1'

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: docs-${{ matrix.os }}-build
          path: docs/.vitepress/dist
          overwrite: true
